.home {
  padding: 2rem 0;

  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #049ef4;
    margin-left:5%;
  }

  .search-bar {
    .input-group {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .services .card {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .service-title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(246, 246, 246, 0.9);
    padding: 10px 20px;
    font-size: 2rem;

    text-align: center;
    width: 80%;
    border-radius: 5px;
    color: #00519e;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }

  .service-card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #00519e;
    text-align: left;
  }

  .service-card .card-title {
    color: #00519e;
  }

  .bg-custom {
    background-color: #049ef4 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .custom-select {
    background-color:rgb(131, 189, 243) !important;
    color: white !important; /* Para que el texto sea legible */
  }

  .custom-select:focus {
    background-color:rgb(115, 176, 236) !important;
    color: white !important;
    border-color: #003366;
    box-shadow: none;
  }

  .custom-margin {
    margin-top: 185px;
    margin-right: 200px;
  }

  .blue-text {
    color: #049ef4;
  }


  .progress {
    height: 10px; /* Ajusta la altura de la barra de progreso */
    background-color:#caf9ff;
  }

  .progress-bar {
    background-color: #049ef4 !important;
    width: 25%;
    " role="progressbar"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"/* Asegura que la barra de progreso sea azul */
  }

  .d-flex {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  .ml-2 {
    margin-left: 8px; /* Margen de 2 unidades a la izquierda */
  }


  @media (max-width: 1500px) { /* Para pantallas medianas */
    .custom-margin {
      margin-top: 160px;
      margin-right: 100px;
    }
  }

  @media (max-width: 768px) {
    .custom-margin {
      margin-top: 0 !important; /* Eliminar margen en móviles */
      margin-right: 0px;
    }
  }


}
