/* Contenedor principal */
.sidebar-container {
  position: relative;
}

/* Sidebar Estilos Generales */
fa-icon {
  cursor: pointer;
}

/* Sidebar Estilos Generales */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #302634;
  transition: width 0.3s ease-in-out;
}

/* Sidebar colapsado en escritorio */
.sidebar-collapsed {
  width: 80px;
}

/* Logo tamaño ajustable */
.logo {
  width: 100px;
  transition: width 0.3s ease-in-out;
}

/* Estilos para el menú */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  color: #ff9800;
}

/* Botón de menú en móviles */
.mobile-menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

/* Sidebar en móviles (oculto por defecto) */
.sidebar-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

/* Mostrar sidebar en móviles cuando está abierto */
.sidebar-mobile.sidebar-open {
  left: 0;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebar.sidebar-open {
    left: 0;
  }
}
